.schedule-title {
  font-size: large;
}

.schedule-caption {
  position: relative;
  top: -.5em;
  font-size: .9rem;
  line-height: 1rem;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.due-date {
  font-weight: bold;
}

table.schedule {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  table-layout: fixed;

  col.week       { width: 7%; }
  col.date       { width: 18%; }
  col.topic      { width: auto; }
  col.deadlines  { width: 32%; }

  caption {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }

  th, td {
    font-size: .9rem;
  }
  
  .class-details, .lab-details, .hw-title, .exam-title {
    @extend .schedule-title;
  }

  td.class-details {
    @extend .ellipsis;
    max-width: 0;
    white-space: nowrap;
  }

  .class-description, .lab-description {
    display: block;
    @extend .schedule-caption;
    font-style: italic;
    @extend .ellipsis;
  }

  .lab-date, .class-date {
    font-weight: bold;
    text-align: right;
  }

  td.deadlines {
    @extend .ellipsis;
    max-width: 0;
    white-space: nowrap;
  
    vertical-align: top;

    li {
      list-style-type: none;
      margin-top: 0;
    }

    span.hw-details, span.exam-details {
      display: block;
      @extend .schedule-caption;
    }    
  }

  tbody.spring-break {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;

    td, th {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #eeeeee;
    }
  }
}